<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skills Tracker</title>
</head>
<body>

<form method="post">
    <label>Name: </label> <br>
    <input type="text" name="name">
    <br>
    <label>My favorite language: </label>
    <br>
    <select name="firstChoice">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
    </select>
    <br>
    <label>My second favorite language: </label>
    <br>
    <select name="secondChoice">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
    </select>
    <br>
    <label>My third favorite language: </label>
    <br>
    <select name="thirdChoice">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
    </select><br>
    <input type="submit" value="Submit">
</form>

<h1>" + name + "</h1>
<ol>
    <li>" + firstChoice+ "</li>
    <li>" + secondChoice+ "</li>
    <li>" + thirdChoice+ "</li>
</ol>

</body>
</html>


</body>
</html>